<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rundezvous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EEB27431F6C8FFC00E97AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EEB275A1F6C8FFC00E97AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EEB27651F6C8FFC00E97AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
